* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: linear-gradient(275deg, #00f, #fff);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.main {
    display: flex;
    justify-content: space-around;
    width: 100%;
    gap: 20px;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    font-size: 25px;
    transition: scale 0.3s;
}

button:hover {
    scale: 1.1;
}

button:active {
    background-color: #00f;
    color: #fff;
}

.emoji {
    height: 65%;
    width: 65%;
}

@media (max-width: 600px) {
    .main {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    button {
        height: 200px;
        width: 200px;
        font-size: 20px;
    }

    .emoji {
        height: 60%;
        width: 60%;
    }
}
